@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --primary: 150 66% 49%;
    --destructive: 0 79% 63%;
    --background: 196 77% 15%;
    --input: 196 44% 24%;
    --card: 196 73% 13%;
    --foreground: 222 33% 94%;
    --secondary: 222 17% 80%;
    --muted: 224 12% 52%;
    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
